<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="EXCLUSIVE"
		gameType="NEW | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
	<app-card
		gameCover="assets/gta5.avif"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$107,45"
	>
	</app-card>
	<app-card
		gameCover="assets/redDeadRedemption.jpeg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS3 PS4 PS5"
		gamePrice="R$82,13"
	>
	</app-card>
	<app-card
		gameCover="assets/fifa25.avif"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/minecraft.avif"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 89,99"
	>
	</app-card>
	<app-card
		gameCover="assets/codBO6.avif"
		gameLabel="NEW"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 399,99"
	>
	</app-card>
	<app-card
		gameCover="assets/mortalKombat11.webp"
		gameLabel="EXCLUSIVE"
		gameType="NEW | PS4 PS5"
		gamePrice="R$ 19,99"
	>
	</app-card>
	<app-card
		gameCover="assets/diablo.avif"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 69,99"
		>
	</app-card>
	<app-card
		gameCover="assets/theLastOfUs.webp"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 169,99"
	>
	</app-card>
</div>
